.content{
    margin-left: 180px;
    padding-left: 20px;
    padding: 0px;
  }
.ul_menu {
    list-style: none;
    display: flex;
    margin-left: 200px;
    /*padding-left: 20px;*/
    align-items: center;
    margin: 5px 100px 100px 300px;
    width: 500px;
      height: 90px;
      border-radius: 60px;
      color: black;
      font-size: 20px;
      border: none;
}

.ul_menu .li_menu {
    width: 100%;
    text-align: center;
    background-color: rgb(116, 119, 119);
    height: 70px;
    margin: 50px 50px 50px 50px;
    border-radius: 60px;

}


 .ul_menu .li_menu:hover,
.active {
    color: white;
    background-color: #a7abaf;
    height: 70px;
    border-radius: 60px;

}
